nav {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 340px;
  background: $gray;
  @include responsive(md) {
    height: 90px;
  }
}

.navbar-short {
  height: 50px;
  @include responsive(md) {
    height: 80px;
  }
}
.navbar {
  max-width: 90%;
  display: flex;
  height: 50px;
  background: $gray;
  margin: auto;
  color: white;
  @include responsive(xl) {
    max-width: 100%;
  }
  @include responsive(md) {
    height: 80px;
  }

  .toggle,
  .site-title,
  .social {
    flex: 1;
    display: flex;
    align-items: center;
    color: white;
    font-size: 16px;
  }
}

.nav-mobile {
  .menu li {
    padding: 15px 0;
  }
}

.toggle button {
  padding: 0 20px;
  background: $gray;
  color: white;
  height: 50px;
  border: 2px solid #3c3c3c;
  border-top: none;
  border-bottom: none;
  cursor: pointer;
  transition-duration: 0.3s;
  &:hover {
    background: #999999;
  }

  &:focus {
    outline: none;
  }
}

#myBtn {
  @include responsive(md) {
    display: none;
  }
}

#myBtnMobile {
  display: none;
  float: left;
  font-size: 25px;
  border: none;
  padding: 0 20px;
  background: $gray;
  color: white;
  height: 50px;
  cursor: pointer;
  transition-duration: 0.3s;
  z-index: 9999;

  &:focus {
    outline: none;
  }
  @include responsive(md) {
    display: inline-block;
  }
}

.toggle {
  @include responsive(md) {
    position: absolute;
    top: 15px;
    left: 8px;
  }
}

#mobile-toggle-div {
  display: none;
  @include responsive(md) {
    display: inline-block;
  }
}

.site-title {
  justify-content: center;
  a {
    color: white;
    text-decoration: none;
    font-size: 22px;
    font-weight: $hind-semibold;
    letter-spacing: 0.15em;
    text-transform: uppercase;
    @include responsive(md) {
      font-size: 28px;
    }
  }
  @include responsive(md) {
    text-align: center;
    margin: auto;
  }
}

.social {
  justify-content: flex-end;
  @include responsive(md) {
    display: none !important;
  }
}

.social a,
button {
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  background: $gray;
  color: white;
  height: 50px;
  border-right: 2px solid #3c3c3c;
  cursor: pointer;
  transition-duration: 0.3s;
  &:hover {
    background: #999999;
  }
}

.first-social {
  border-left: 2px solid #3c3c3c;
}

.social button {
  border-left: none;
  border-top: none;
  border-bottom: none;
  &:focus {
    outline: none;
  }
}

.menus {
  position: absolute;
  max-width: 90%;
  display: none;
  z-index: 999999999999;

  .menu {
    display: flex;
    flex-direction: row;
    padding: 15px 0;
  }
  a {
    text-transform: uppercase;
    padding: 15px 25px;
    transition-duration: 0.3s;
    color: white;
    &:hover {
      color: #999;
    }
  }
}

.menu-short {
  height: 50px;
  background: #999;
  z-index: 9999999999;
  display: none;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  .menu {
    display: flex;
    flex-direction: row;
  }
  a {
    text-transform: uppercase;
    padding: 15px 25px;
    transition-duration: 0.3s;
    color: white;
    &:hover {
      color: $gray;
    }
  }
}

#searchbox {
  display: none;
  position: absolute;
  right: 0;
  z-index: 999999999999;
  input {
    background-color: rgba(33, 36, 41, 0.7);
    border: none;
    /*border-bottom: 1px solid #ccc; */
    color: #fff;
    height: 50px;
    width: 300px;
    padding: 20px;
    font-size: 16px;

    &:focus {
      outline: none;
    }
  }

  input:focus::-webkit-input-placeholder {
    opacity: 1;
  }

  ::placeholder {
    color: white;
    opacity: 0.7;
    font-size: 16px;
  }

  button {
    display: none;
  }
}

.hidden-menu {
  position: absolute;
  top: 50px;
  max-width: 90%;
  display: flex;
  @include responsive(xl) {
    max-width: 100%;
  }
  @include responsive(md) {
    display: none;
  }

  flex-direction: row;

  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}

input:focus + .underline {
  transform: scale(1);
}

.underline {
  background-color: white;
  display: inline-block;
  height: 1px;
  left: 0;
  margin-top: -4px;
  position: absolute;
  top: 50px;
  -webkit-transform: scale(0, 1);
  transform: scale(0, 1);
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
  width: 300px;
}

/* Slideshow container */
.slider {
  position: absolute;
  top: 50px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  @include responsive(md) {
    display: none;
  }
}

.slideshow-container {
  max-width: 90%;
  position: relative;
  margin: auto;
  @include responsive(xl) {
    max-width: 100%;
  }
  @include responsive(md) {
    display: none;
  }
}

/* Hide the images by default */
.mySlides {
  display: none;
}

.mySlides img {
  filter: brightness(50%);
}

/* Arrow icon */

[class*="icono"] {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  box-sizing: border-box;
  &:after,
  &:before {
    content: "";
    box-sizing: border-box;
  }
}

[class*="icono-arrow1"] {
  width: 10px;
  height: 10px;
  border-width: 2px 2px 0 0;
  border-style: solid;
  margin: 10px;

  &:before {
    right: 0;
    top: -2px;
    position: absolute;
    height: 2px;
    box-shadow: inset 0 0 0 32px;
    transform: rotate(-45deg);
    width: 30px;
    transform-origin: right top;
  }
  &[class*="-left"] {
    transform: rotate(45deg);
  }
  &[class*="-right"] {
    transform: rotate(-135deg);
  }
}

.slider-arrows {
  display: flex;
  flex: row;
  position: absolute;
  bottom: 15px;
  left: 50%;
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  align-items: center;
  cursor: pointer;

  a {
    color: white;
  }

  p {
    color: white;
    margin: 0 30px;
    font-size: 14px;
    font-weight: $hind-medium;
  }
}

/* Caption text */
.text {
  color: white;
  position: absolute;
  top: 50%;
  left: 70px;
  z-index: 9999;
  margin: 0;
  /* -ms-transform: translateY(-50%);
    transform: translateY(-50%);*/
  width: 45%;

  h1 {
    font-size: 2.5vw;
    font-weight: $hind-semibold;
    text-transform: uppercase;
    text-shadow: -1px 3px 0px rgba(0, 0, 0, 0.44);
    line-height: 3.5vw;
    color: white;
  }

  p {
    font-size: 1.2vw;
    font-weight: $hind-medium;
    letter-spacing: 4px;
    margin-bottom: 10px;
  }
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 10px;
  width: 10px;
  background-color: transparent;
  display: inline-block;
  transition: background-color 0.6s ease;
  border: 1px solid white;
}

.squares {
  position: absolute;
  bottom: 40px;
  left: 50%;
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}

.active,
.dot:hover {
  background-color: #999999;
}

#navMobile {
  display: none;
  flex-direction: column;
  width: 100%;
  a {
    padding: 12px 0px;
  }
  .social-mobile {
    margin-top: 15px;
    margin-left: -10px;
    a {
      padding: 10px 10px;
      font-size: 20px;
    }
  }
}
