aside,
#navMobile {
  flex: 1;
  background: white;
  margin-left: 30px;
  padding: 30px;
  @include responsive(lg) {
    margin-left: 0;
  }

  h3 {
    font-family: $mont;
    font-weight: bold;
    font-size: 20px;
    color: #212121;
    text-transform: uppercase;
    text-align: center;
    padding: 20px;
    margin-top: 20px;
    border-bottom: 1px solid #f7f7f7;
  }

  a {
    color: $gray;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: $hind-medium;

    transition: 0.3s;

    &:hover {
      color: #999;
    }

    &:active {
      color: #999;
    }

    &:visited {
      color: purple;
    }
  }

  li li {
    border-bottom: 1px solid #f7f7f7;
    padding: 15px 0px;
    .post_count {
      float: right;
    }
  }

  input {
    width: 100%;
    height: 50px;
    border: none;
    background-color: #f9f9fb;
    color: $gray;
    padding: 0 20px;
    font-size: 15px;
    font-weight: $hind-medium;
  }

  form {
    display: flex;
    flex-direction: row;
  }

  .search-btn {
    width: 50px;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    cursor: pointer;
    border: none;
    box-shadow: none;
    transition: 0.3s;
    &:hover {
      background: $gray;
    }
    &:focus,
    &:active {
      outline: 0 !important;
    }
  }

  .underline {
    display: none;
  }

  img {
    max-width: 100%;
    height: auto;
  }
}
