body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

* {
  box-sizing: border-box;
  font-family: "Hind", sans-serif;
}

body {
  background: #f9f9fb;
  height: 100vh;
  margin: 0;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
  margin: 0;
}

ul {
  padding: 0;
}

input:focus,
button:focus {
  outline: none;
}
